{% extends "base.html" %}

{% block content %}

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <a class="backButton" href="{% url 'projects' %}"
        ><i class="fa-light fa-chevron-left"></i></a>
      <br />
      <h2>Add your new project here</h2>
      <form class="form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <!-- Input:Text -->
        <div class="form__field">
          <label for="formInput#text">{{ field.label }}: </label>
          {{ field }}
          <!-- <input
            class="input input--text"
            id="formInput#text"
            type="text"
            name="text"
            placeholder="Enter project title"
          /> -->
        </div>
        {% endfor %}
        <input
          class="btn btn--sub btn--lg my-md"
          type="submit"
          value="Submit"
        />
      </form>
    </div>
  </div>
</main>
{% endblock content %}
