{% extends "base.html" %}

{% block content %}
<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <h3>Password Reset Sent</h3>
      <p>
        We have emailed you instructions for resetting your password, if an account exists with the email you provided. You should receive an email shortly.
      </p>
      <br />
      <p>
        If you do not receive an email, please make sure you are entering the email address you registered with, and then check your email spam folder.
      </p>
      <br />
      <p style="font-weight: bold;">The Excession Development Team</p>
    </div>
  </div>
</main>
{% endblock content %}